
.rbt-token:not(:last-child) {
    padding: 0.7rem !important;
}
.rbt-token .rbt-token-remove-button {
    background-image: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none;
    color: inherit;
    display: flex;
    justify-content: center;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
    outline: none;
    padding: 0.2rem;
    padding-left: 1px;
    padding-top: 0px;
    margin-top: 2px;
    text-shadow: none;
    margin-right:2px;
    margin-left: -2px;
}
.placeholder-light-grey::placeholder {
    color: lightgrey !important;
  }
  
  .input-form option {
    max-width: 150px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  